{
    "root": true,
    "env": {
        "browser": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {}
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "jest"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {

    },
    "overrides": [
        {
            "files": [ "./src/__tests__/*.js" ],
            "env": { "jest": true },
            "extends": [ "plugin:jest/recommended" ]
        }
    ]
}
