@import '~uikit/dist/css/uikit.min.css';

$primary-color: #3d3d3d;
$text-color: white;
$visited-color: #204dad;
$h-padding: 100px;

* {
    padding: none;
    border: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: lighten($primary-color, 30);
}

header {
    background-color: $primary-color;
    color: white;
    height: 60px;
    padding: 0 $h-padding;
    width: 100%;

    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .uk-button {
        flex: 0 0 auto;
        color: $text-color;
        background-color: transparent;
        border-color: white;
        border-style: solid;
        border: 1px solid white;

        &:hover {
            color: darken($text-color, 20);
        }
    }
    div {
        flex: 0 0 auto;
    }
}

#boxes-container {
    flex: 0 0 auto;
    padding: 30px 40px;
    margin: 30px 40px;
    border: 1px solid $primary-color;
}

.nodes-row {
    height: 34px;
}

.node {
    display: inline-block;
    border: 1px solid lighten($primary-color, 10);
    margin: 1px;

    &.visited {
        background-color: $visited-color;
        transition: background-color 0.2s ease-out;
    
        &.newlyvisited {
            background-color: lighten($visited-color, 40);
        }
    }
    &.shortest-path {
        background-color: #a379f1 !important;
        transition: none;
    }
    &.clicked {
        background-color: #68eb56;
    }
    &.blocked {
        background-color: $primary-color;
    }
}

.dropdown-container {
    padding: 15px 25px;

    .dropdown-option {
        padding: 5px 0;

        &:hover {
            cursor: pointer;
        }
    }
    .dropdown-option.selected {
        font-weight: bold;

        &:hover {
            cursor: default;
        }
    }
}

#info {
    color: white;
}
