$primary-color: #3d3d3d;
$visited-color: #204dad;

.visited {
    background-color: $visited-color;
    transition: background-color 0.2s ease-out;

    &.newlyvisited {
        background-color: lighten($visited-color, 40);
    }
}
.shortest-path {
    background-color: #a379f1 !important;
    transition: none;
}
.clicked {
    background-color: #68eb56;
}
.blocked {
    background-color: $primary-color;
}
